body {
	font-family: Verdana, Arial, Sans-serif;
	line-height: 1.5em;
	/*color: #7A378B;*/
}

h2, h3 {
	font-style: italic;
}

h4 {
	text-decoration: none;
	font-weight: normal;
}

ol li {
	position: relative;
	left: -.5em;
}

ul li {
	position: relative;
	left: -1em;
}

span {
	position: relative;
	left: 1em;
}

ul span {
	left: 1.5em;
}
.video {
	float: left;
	background-color: #777;
	display: block;
	position: relative;
	top: 8em;
	margin-left: 10%;
	margin-right: 5em;
}

.main {
	background-color: #666;
	display: inline-block;
	width: 50%;
	position: relative;
}

.cooktime {
	width: 100%;
	box-shadow: 0px 4px 2px -2px #777;

}

.cooktime p {
	display: inline-block;
}

.nutrition {
	display: inline-block;
	width: 8em;
}

.amount {
	display: inline-block;
}