//
// Footer
// -----------------------------------------------------
 
.footer {
    float: left;
    width: 100%;
    padding: 50px 0 0;
    color: $white;
    text-align: center;
    background: $darkPurple;
    font-family: $NeutraBoldItalic;
    .wrapper {
        max-width: 550px;
        padding: 0 2.5%;
        &:first-child {
            max-width: 300px;
        }
    }
    h5 {
        @extend .icons-logo-stack;
        float: left;
        margin: 0 0 50px;
        @include hide-text;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        float: left;
        display: inline;
    }
    .social-icons {
        float: right;
        margin: 20px 0 0;
        a {
            float: left;
            margin: 0 10px;
            display: block;
            @include hide-text;
        }
        .tw { @extend .icons-icon-tw-big; @include transition(none); }
    }
    .legal {
        li {
            width: 33.333%;
            padding: 5% 0;
            text-transform: lowercase;
            &:nth-child(1) { width: 45%; }
            &:nth-child(2) { width: 27.5%; }
            &:nth-child(3) { width: 27.5%; }
        }
        a {
            color: $white;
            padding: 5px 17.85%;
            border-radius: 10px;
            .no-touch &:hover,
            &.active {
                background: $lightPurple;
                color: $white;
                text-decoration: none;
            }
        }
    }
    hr {
        height: 0;
        margin: 0;
        border: 0;
        border-top: 1px solid #551c57;
        clear: both;
    }
}