body {
	font-family: Verdana, Arial, Sans-serif;
	line-height: 1.5em;
	color: #7A378B;
}

h2, h3 {
	font-style: italic;
}

h3 {
	margin-top: 2em;
}

h4 {
	text-decoration: none;
	font-weight: normal;
}

ol li {
	position: relative;
	left: -.7em;
}

ul li {
	position: relative;
	left: -1.2em;
}

span {
	position: relative;
	left: 1em;
}

ul span {
	left: 1.5em;
}
.video {
	float: left;
	display: block;
	position: relative;
	top: 7.5em;
	margin-left: 10%;
	margin-right: 5em;
}

.main {
	display: inline-block;
	width: 50%;
	position: relative;
}

.cooktime {
	width: 100%;
	box-shadow: 0px 4px 2px -2px #d3d3d3;
}

.cooktime p {
	display: inline-block;
}

.share {
	height: 3em;
	padding-top: 1.5em;
	box-shadow: 
		0px 4px 2px -2px #d3d3d3,
        0px -4px 2px -2px #d3d3d3;
}


.nutrition {
	display: inline-block;
	width: 8em;
	margin-left: 1em;
}

.amount {
	display: inline-block;
}